body{
    background-image: url('pexels-photo-3784424.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

table{
    width: 80%;
    height: 60vh;
    margin: 40px auto;
    background: rgb(130, 156, 168);
}
tbody{
    border-radius: 20px;
}

table.list{
    text-align: center;
    width: 100%;
}

td{
    border: 1px solid rgb(204,200,200);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
    background-color: rgb(204,200,200);
}

input[type="text"],input[type="number"]{
    width:91%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid rgb(165,161,161);
    border-radius: 8px;
}

input[type="submit"],input[type="reset"]{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    font-family: sans-serif;
    font-weight: bold;
    
}

input[type="submit"]:hover{
    background: #4b99d8;
}

input[type="reset"]:hover{
    background: #4b99d8;
}

button{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    
}

button:hover{
    background:#4b99d8 ;
}

.labels{
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: -4px;
}
.right{
    font-family: sans-serif;
    font-size: 20px;
}

@media only screen and (max-width:767px){
    .form{
        width: 100%;
    }
}